:root {
	--col-bg: #bcb;
	--col-main: #444;
	--col-hl: #940;
	--col-mute: #777;
	--opacity-lightmode-textbackground: 80%;
	--size-smol: 0.2in;
	--size-mid: 0.3in;
	--size-big: 0.5in;
	--pad-1: 0.1in;
}

@media (prefers-color-scheme: dark) {
	:root {
		--col-bg: #122;
		--col-main: #eef;
		--col-hl: #f90;
		--col-mute: #aab;
	}
}

html, body {
	color: var(--col-main);
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: var(--size-mid);
}

html {
	background-color: var(--col-bg);
}

body {
	position: relative;
	min-height: 100%;
	top: 0;
}

a {
	color: var(--col-hl);
	text-decoration: underline;
}

a:hover {
	font-style: italic;
	cursor: pointer;
}

#video-box, #background-video {
	position: absolute;
	width: 100%;
}

#video-box {
	height: 100vh; /* in case lvh isn't supported */
	height: 100lvh;
	z-index: -1;
}

#background-video {
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}

@media (min-width: 800px) {
	#background-video {
	}
}


#head {
	height: var(--size-big);
	padding: var(--size-mid);
	display: flex;
	gap: var(--size-mid);
	font-size: var(--size-mid);
	background: color-mix(in srgb, var(--col-bg) var(--opacity-lightmode-textbackground), transparent);
}

#logo, #logo svg, #logo img {
	height: 100%;
	width: min-content;
}

#head .currentPage::before {
	content: ">";
}

#content {
	display: flex;
	margin-top: 20vh;
	flex-direction: column;
	align-items: center;
	font-size: var(--size-mid);
}

#content div {
	padding: var(--pad-1);
	background: color-mix(in srgb, var(--col-bg) var(--opacity-lightmode-textbackground), transparent);
}

#important-links {
	display: flex;
	gap: var(--pad-1);
}

#important-links a:before{
	content: " →";
}

#what-is-this {
	width: 780px;
}

#previous-incarnation {
	line-height: 60%;
	font-size: var(--size-smol);
	color: var(--col-mute);
}

@media (prefers-color-scheme: dark) {
	#background-video {
		filter: brightness(0.45);
	}

	#head, #content div {
		background: transparent;
	}
}

.WIP {
	text-decoration: line-through !important;
	color: var(--col-mute) !important;
}
